<div class="content container-fluid bg-dark text-light p-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-12 text-center">
      <h2>Products Component</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptatibus incidunt quidem, impedit esse eius perspiciatis doloremque cupiditate molestiae ad perferendis amet voluptatum exercitationem consequatur asperiores unde ipsa sunt error.
      </p>
    </div>
    <div class="col-lg-12 text-center">
      <img src="https://www.apple.com/newsroom/images/product/iphone/standard/Apple-iPhone-14-Pro-iPhone-14-Pro-Max-hero-220907_Full-Bleed-Image.jpg.large.jpg" class="img-fluid rounded-5" alt="">
    </div>
  </div>
</div>
