<div class="container-fluid bg-dark text-light p-5">
    <div class="container text-center">
      <h1>Ways to Save on iPhone</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id cursus eros, at rutrum velit. Fusce commodo consequat velit nec condimentum.</p>
  
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card bg-dark text-light">
            <div class="card-body">
              <i class="bi bi-credit-card-fill"></i>
              <h5 class="card-title">Payment Options</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="#" class="card-link text-light">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-dark text-light">
            <div class="card-body">
              <i class="bi bi-battery-half"></i>
              <h5 class="card-title">Battery Life</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="#" class="card-link text-light">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-dark text-light">
            <div class="card-body">
              <i class="bi bi-cloud-download-fill"></i>
              <h5 class="card-title">Cloud Storage</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="#" class="card-link text-light">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>