<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container">
    <a class="navbar-brand" href="https://www.apple.com/">
      <img src="https://www.apple.com/ac/globalnav/5/en_US/images/globalnav/apple/image_large.svg" alt="Apple Logo"
        height="75">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://www.apple.com/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://support.apple.com/">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.apple.com/store">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.apple.com/services/">Services</a>
        </li>
      </ul>
    </div>
  </div>
</nav>