<body class="dark-bg bg-dark ">
    <div class="container d-flex h-100">
      <div class="row align-self-center w-100 ms-5" style="margin-left: 10px;">
        <div class="col-md-6 text-center">
          <div class="col-12">
            <img src="https://www.apple.com/v/iphone-14-pro/g/images/key-features/features/dynamic-island/dynamic_island_deep_purple__exowosw6732a_large_2x.jpg" class="img-fluid rounded-5" alt="...">
          </div>
        </div>
        <div class="col-md-6">
          <div class="row-cols-2 mb-2">
            <img src="https://www.apple.com/v/iphone-14-pro/g/images/key-features/features/main-camera/camera_deep_purple__fviv8fv1dyqa_large_2x.jpg" class="card-img w-50 m-auto rounded-5 img-fluid" alt="...">
          </div>
          <div class="row-cols-2">
            <img src="https://www.apple.com/v/iphone-14-pro/g/images/key-features/features/chip/chip_deep_purple__bs3dtgitlt6q_large_2x.jpg" class="card-img w-50 m-auto rounded-5 img-fluid" alt="...">
          </div>
        </div>
      </div>
    </div>
  </body>
  
  