<div class="container-fluid  bg-dark">
    <div class="row  ">
      <div class="col">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://images.pexels.com/photos/193004/pexels-photo-193004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-75 mx-auto img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://images.pexels.com/photos/1275229/pexels-photo-1275229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-75 mx-auto img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://images.pexels.com/photos/1350462/pexels-photo-1350462.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-75 mx-auto img-fluid" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
